<div class="footer">
    <div class="container d-flex align-items-center justify-content-between">
        <div class="footer-logo">
            <img src="assets/logo.png" id="footer-logo" alt="Telelink Logo">
        </div>
        <nav class="footer-nav-links">
            <a routerLink="/">Home</a>
            <a routerLink="/about">About</a>
            <a routerLink="/services">Services</a>
            <a routerLink="/contact">Contact</a>
        </nav>
        <div class="social-media">
            <img src="assets/facebook.svg" alt="Facebook Icon">
            <img src="assets/twitter.svg" alt="Twitter Icon">
            <img src="assets/instagram.svg" alt="Instagram Icon">
        </div>
    </div>
</div>