<div class="footer">
    <div class="container d-flex align-items-center justify-content-between">
        <div class="row">
            <div class="col" id="footer-col">
                <div class="footer-section">
                    <h2 id="footer-title">telelink.fr</h2>
                    <p>Exploring the Macro-scale of Telecom Infrastructure and Radio Frequency engineering.</p>
                    <p>Somnath GANGULY</p>
                    <p>Telecommunications Infrastructure</p>
                </div>
                <img src="assets/logo.png" id="footer-logo" alt="Telelink Logo">
            </div>
            <div class="col" id="footer-col">
                <nav class="footer-section">
                    <h2 id="footer-title">lxhome lab</h2>
                    <p>A deep dive into Micro-scale automation, Kubernetes, and the DevOps lifestyle.</p>
                    <ul>
                        <li>Ansible Playbooks</li>
                        <li>k8s cluster stats</li>
                        <li>CI/CD Pipelines</li>
                        <li>Lab hardwares</li>
                    </ul>
                </nav>
            </div>
            <div class="col" id="footer-col">
                <nav class="footer-section">
                    <h2 id="footer-title">Contact</h2>
                    <p>Building in the open. Follow my projects and infrastructure updates.</p>
                    <a href="https://github.com/Raj34970" class="btn btn-outline-light" target="_blank">GitHub</a>
                    <a href="https://www.linkedin.com/in/rajarshi-ganguly-819b76284/?locale=fr_FR" class="btn btn-outline-light" target="_blank">LinkedIn</a>
                    <p>Contact me at <br>
                        contact@telelink.fr or contact@lxhome.fr
                    </p>
                    <p>Paris, IDF</p>
                </nav>
            </div>
        </div>
    </div>
    <p class="m-0" id="bottom-text">&copy; 2026 Telelink. All rights reserved.</p>
</div>