<div class="header">
    <div class="container d-flex align-items-center justify-content-between">
        <div class="logo">
            <a routerLink="/home"><img src="assets/logo.png" id="logo" alt="Telelink Logo"></a>
        </div>
        <nav class="nav-links">
            <a routerLink="/home" id="button-links">Home</a>
            <a routerLink="/about" id="button-links">About</a>
            <a routerLink="/services" id="button-links">Services</a>
            <a routerLink="/contact" id="button-links">Contact</a>
        </nav>
        <div class="sign-in">
            <a href="https://github.com/Raj34970" class="href_style" target="_blank">
                <img src="assets/github.svg" id="login-icon" alt="Login_Icon">
                <span class="badge badge-pill badge-info">lxhome</span>
            </a>
        </div>
    </div>
</div>