<div class="header">
    <div class="container d-flex align-items-center justify-content-between">
        <div class="logo">
            <img src="assets/logo.png" id="logo" alt="Telelink Logo">
        </div>
        <nav class="nav-links">
            <a routerLink="/home">Home</a>
            <a routerLink="/about">About</a>
            <a routerLink="/services">Services</a>
            <a routerLink="/contact">Contact</a>
        </nav>
        <div class="sign-in">
            <a href="https://github.com/Raj34970" class="href_style" target="_blank">
                <img src="assets/github.svg" id="login-icon" alt="Login_Icon">
            </a>
        </div>
    </div>
</div>