

div#cardIndexBody {
    margin: auto;
    display: flex;
    align-items: center;
}

img.svg {
    width: 50px;
}

.p-0 {
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    color: white;
    text-decoration: none;
}

h1#headline, h1#headingline {
    text-align: center;
    background: #3e3959;
    padding: 20px;
    color: white;
    background: #3e3959;
    font-size: larger;
}

p#index_paragraph {
    background: #b2aec933;
    padding: 20px;
    color: #3e3959;
    font-size: medium;
    border-radius: 8px;
    border: 1px solid #ededed;
    margin: 40px;
    margin-inline: 0;
    font-style: normal;
}

@media (max-width: 600px) {
    .row.m-3{
        flex-direction: column;
    }
    .col-4 {
        width: max-content;
    }
}