

div#cardIndex {
   height: 25vw;
    width: 25vw;
    background: linear-gradient(45deg, #271975, #e5b7a1);
    text-align: center;
    margin: auto;
    color: white;
    border: none;
}

.choose {
    margin: 20px;
    background: #f3f3f3;
    padding: 16px;
    border-radius: 8px;
}

div#cardIndexBody {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

a {
    color: white;
    text-decoration: none;
}



