
p {
    margin: 10px;
}

.h2 {
    background: #524e67;
    font-size: large;
    color: white;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card {
    min-width: 30vw;
    width: -webkit-fill-available;
    min-height: 12vw;
    height: -webkit-fill-available;
    margin: auto;
    background: linear-gradient(45deg, #827acf57, #d3996230);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img.gif {
    width: 45vw;
    padding: 10px;
}

h5.card-title {
    background: #534e67;
    color: white;
    padding: 8px;
    padding-inline: 15px;
}